{% extends 'base.html'%}
{% load static %}
{% block title %} News {% endblock %}

<!-- Blog Start -->
{% block content %}
<div class="container py-5">
    <h1 class="display-5 mb-5">Latest Blog Posts</h1>
    <div class="row g-4">
        {% for post in posts %}
        <div class="col-lg-4 col-md-6">
            <div class="bg-light p-4">
                {% if post.image %}
                    <img class="img-fluid mb-3" src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <a href="{% url 'blog_detail' post.pk %}" class="d-block h5 lh-base mb-4">{{ post.title }}</a>
                <p><small>Published on {{ post.published_date|date:"F j, Y" }}</small></p>
                <p>{{ post.content|truncatewords:30 }} <a href="{% url 'blog_detail' post.pk %}">Read More</a></p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Blog End -->




<!-- Certification Start -->
<div class="container mt-5">
    <h2 class="text-center">Certifications</h2>
    <div id="certificationsCarousel" class="carousel slide" data-bs-ride="carousel">
        
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#certificationsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#certificationsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#certificationsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Carousel Items -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner bg-white text-center p-2">
                            <img src="{% static 'img/ISO 22000.png' %}" class="img-fluid" alt="ISO 22000 Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner bg-white text-center p-2">
                            <img src="{% static 'img/HACCP.jpeg' %}" class="img-fluid" alt="HACCP Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner bg-white text-center p-2">
                            <img src="{% static 'img/globalgap.png' %}" class="img-fluid" alt="Global GAP Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner bg-white text-center p-2">
                            <img src="{% static 'img/halal.png' %}" class="img-fluid" alt="Halal Certification">
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner bg-white text-center p-2">
                            <img src="{% static 'img/non gm.webp' %}" class="img-fluid" alt="Non-GMO Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner bg-white text-center p-2">
                            <img src="{% static 'img/certified gluten free.png' %}" class="img-fluid" alt="Gluten-Free Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner bg-white text-center p-2">
                            <img src="{% static 'img/badan pom.jpeg' %}" class="img-fluid" alt="Badan POM Certification">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#certificationsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#certificationsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Certification End -->
 
{% endblock%}