{% extends 'base.html' %}
{% load static %}
{% block title %} News {% endblock %}

{% block content %}
<!-- Blog Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h1 class="display-5 mb-3">Latest News</h1>
            <p>Explore insightful articles and updates that delve into our industry, share knowledge, and inspire innovation. Stay informed and inspired!</p>
        </div>
        <div class="row g-4"> <!-- Responsive grid system -->
            {% for post in blog_posts %}
            <div class="col-lg-4 col-md-6 col-sm-12 wow fadeInUp d-flex" data-wow-delay="0.{{ forloop.counter }}s">
                <div class="d-flex flex-column bg-light p-4 w-100 h-100"> <!-- Ensure equal height -->
                    {% if post.image %}
                    <img class="img-fluid mb-3" src="{{ post.image.url }}" alt="{{ post.title }}">
                    {% endif %}
                    <a class="d-block h5 lh-base mb-4" href="{% url 'blog_details' post.pk %}">{{ post.title }}</a>
                    <p>{{ post.content|truncatewords:20 | safe}}</p>
                    <div class="text-muted border-top pt-4 mt-auto"> <!-- Push footer to bottom -->
                    <small class="me-3"><i class="fa fa-user text-primary me-2"></i>{{ post.author.get_full_name|default:post.author.username }}</small>
                        <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>{{ post.published_date|date:"d M, Y" }}</small>
                        <small class="me-3"><i class="fa fa-clock text-primary me-2"></i>{{ post.reading_time }} min read</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Blog End -->



<!-- Certification Start -->
<div class="container mt-5">
    <h2 class="text-center">Certifications</h2>
    <div id="certificationsCarousel" class="carousel slide" data-bs-ride="carousel">
        
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#certificationsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#certificationsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#certificationsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Carousel Items -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner text-center p-2">
                            <img src="{% static 'img/ISO 22000.png' %}" class="certification-img img-fluid" alt="ISO 22000 Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner text-center p-2">
                            <img src="{% static 'img/HACCP.jpeg' %}" class="certification-img img-fluid" alt="HACCP Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner text-center p-2">
                            <img src="{% static 'img/globalgap.png' %}" class="certification-img img-fluid" alt="Global GAP Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner text-center p-2">
                            <img src="{% static 'img/certified gluten free.png' %}" class="certification-img img-fluid" alt="Gluten-Free Certification">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Certification End -->


{% endblock %}
