{% extends 'base.html' %}
{% load static %}

{% block title %}Product Details{% endblock %}

{% block content %}
<!-- Product Detail Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row align-items-center"> <!-- Ensures vertical alignment -->
            <div class="col-lg-6">
                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
            <div class="col-lg-6">
                <h2 class="display-5">{{ product.name }}</h2>
                <p>{{ product.description }}</p>
            </div>
        </div>
    </div>
</div>
<!-- Product Detail End -->

<!-- Back to Products Link -->
<div class="container">
    <a href="{% url 'product' %}" class="back-link">&larr; Back to All Products</a>
</div>
{% endblock %}