{% extends 'base.html' %}
{% load static %}
{% block title %} Search {% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-primary">Search Products</h2>
    
    <form method="GET" action="{% url 'search' %}" class="mb-4">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search for products..." required value="{{ request.GET.q }}">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    {% if products %}
    <div class="search-results">
        <h3>Search Results:</h3>
        <div class="row">
            {% for product in products %}
                <div class="col-md-4 mb-4">  <!-- Adjust column size as needed -->
                    <div class="d-flex align-items-center">
                        <a href="{% url 'product_detail' product.id %}" class="text-dark d-flex align-items-center">
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail me-3" style="width: 100px; height: auto;">
                            <div>
                                <h5 class="mb-1">{{ product.name }}</h5>
                                <p class="mb-0">{{ product.description }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% else %}
    <p class="text-center">No products found.</p>
{% endif %}


{% endblock %} 
