{% extends 'base.html' %}
{% load static %}
<link href="{% static 'django_summernote/summernote.css' %}" rel="stylesheet">
<script src="{% static 'django_summernote/summernote.min.js' %}"></script>


{% block title %}{{ member.name }} - {{ member.role }}{% endblock %}

{% block content %}
<div class="container-xxl" style="padding-top: 5em !important;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-4 text-center d-flex justify-content-center align-items-center">
                <div class="image-wrapper">
                    <img class="img-fluid team-image mb-4" src="{{ member.image.url }}" alt="{{ member.name }}">
                </div>
            </div>
            <div class="col-lg-8">
                <h2>{{ member.name }}</h2>
                <h4 class="text-primary">{{ member.role }}</h4>
                <p>{{ member.message|safe }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Back to Team Link -->
<div class="container">
    <a href="{% url 'team' %}" class="back-link">&larr; Back to All Team Members</a>
</div>

<!-- Certification Start -->
<div class="container mt-5">
    <h2 class="text-center">Certifications</h2>
    <div id="certificationsCarousel" class="carousel slide" data-bs-ride="carousel">
        
        <!-- Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#certificationsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#certificationsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#certificationsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>

        <!-- Carousel Items -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner text-center p-2">
                            <img src="{% static 'img/ISO 22000.png' %}" class="certification-img img-fluid" alt="ISO 22000 Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner text-center p-2">
                            <img src="{% static 'img/HACCP.jpeg' %}" class="certification-img img-fluid" alt="HACCP Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner text-center p-2">
                            <img src="{% static 'img/globalgap.png' %}" class="certification-img img-fluid" alt="Global GAP Certification">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="partner text-center p-2">
                            <img src="{% static 'img/certified gluten free.png' %}" class="certification-img img-fluid" alt="Gluten-Free Certification">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Certification End -->
{% endblock %}
